<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eliphant_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eliphantmarca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EliphantProject">
        <activity
            android:name=".AvaliarPrestadorCli"
            android:exported="true">

        </activity>
        <activity
            android:name=".MeusPedidosCli"
            android:exported="true"></activity>
        <activity
            android:name=".SelecionarPrestadorCli"
            android:exported="true" />
        <activity
            android:name=".DadosUserPrestador"
            android:exported="true" />
        <activity
            android:name=".MeusServicosPrest"
            android:exported="true" />
        <activity
            android:name=".DadosUserCliente"
            android:exported="true" />
        <activity
            android:name=".SelecionarServicoCli"
            android:exported="true" />
        <activity
            android:name=".TelaDeInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPrestador"
            android:exported="true" />
        <activity
            android:name=".CadastroPrestador"
            android:exported="true" />
        <activity
            android:name=".LoginCliente"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".LoginValidacao"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>